<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-12">
      <h2>Bar Chart</h2>

      <bar-chart [chartData]="barChartConfig.chartData" [chartLabels]="barChartConfig.chartLabels"
        [chartOptions]="barChartConfig.options" [chartLegends]="barChartConfig.legends"></bar-chart>

    </div>
    <div class="col-md-6  col-12">
      <h2>Line Chart</h2>
      <line-chart [chartData]="lineChartConfig.chartData" [chartLabels]="lineChartConfig.chartLabels"
        [chartOptions]="lineChartConfig.options" [chartLegends]="lineChartConfig.legends"
        [chartPlugins]="lineChartConfig.plugins"></line-chart>

    </div>

  </div>
  <div class="row mt-2">
    <div class="col-md-6  col-12">

      <h2>Pie Chart</h2>
      <pie-chart [chartData]="pieChartConfig.chartData" [chartLabels]="pieChartConfig.chartLabels"
        [chartOptions]="pieChartConfig.options" [chartLegends]="pieChartConfig.legends"></pie-chart>
    </div>

  </div>
</div>